{% extends 'base.html' %}
{% block header %}
  </br>
  <h1 class="text-center">{% block title %} Search Pubs & Beers Here {% endblock %}</h1>
{% endblock %}
{% block content %}
  </br>
  </br>

  <form class="text-center" method="post">
    <input name="searched" id="searched" placeholder="Search the bar..." required></br></br>
    <input class="btn btn-outline-dark" type="submit" value="submit">
  </form>

  </br>
{% if rows | length != 0%}
<table class="text-center" style="width:100%" id="demo">
  {% for row in rows %}
  </br>
  <tr>
    <td>{{row[1]}}</td>
    <td>{{row[2]}}</td>
    <td>{{row[3]}}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<div class="m-5 p-5 text-center" id="demo2">No search results.</div>
{% endif %}

{% endblock %}
