{% extends 'base.html' %}
{% block header %}
  </br>
  <h1 class="text-center">{% block title %} Search Pubs & Beers Here {% endblock %}</h1>
{% endblock %}
{% block content %}
  </br>

  <form class="text-center" method="post">
    <input type="text" name="search" required>
    <input type="submit" value="Search">
  </form>

  </br>
{% if usr | length != 0 %}
<table class="text-center" id="demo">
  {% for u in usr %}
  <tr>
    <td>{{ u[0] }}</td>
    <td>{{ u[1] }}</td>
    <td>{{ u[2] }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<div class="text-center" id="demo">No search results.</div>
{% endif %}

{% endblock %}