{% extends 'base.html' %}

{% block header %}{% block title %} {% endblock %}
<html>
    <body style="font-family: Helvetica; font-size:20px">
    <div class="m-1 p-1 card-group">
                <div class="card">
                    <a href="{{ url_for('blog.beverage',_anchor='ld') }}"><img class="card-img-top" src="{{url_for('static', filename='images/ld.jpeg')}}" alt="lucid dream beer can image"></a>
                  </div>
                <div class="card">
                    <a href="{{ url_for('blog.beverage',_anchor='mw') }}"><img class="card-img-top" src="{{url_for('static', filename='images/mw.jpeg')}}" alt="murk wisp beer can image" ></a>
                  </div>
                <div class="card" >
                    <a  href="{{ url_for('blog.beverage',_anchor='eh') }}"><img class="card-img-top" src="{{url_for('static', filename='images/eh.jpeg')}}" alt="enchanted hallucinations beer can image"></a>
                  </div>
                <div class="card">
                    <a href="{{ url_for('blog.beverage',_anchor='df') }}"><img class="card-img-top" src="{{url_for('static', filename='images/df.jpeg')}}" alt="double foggy beer can image"></a>
                  </div>
                  <div class="card" >
                    <a href="{{ url_for('blog.beverage',_anchor='mdh') }}"> <img class="card-img-top" src="{{url_for('static', filename='images/mdh.jpeg')}}" alt="mosaic dry hopped beer can image"></a>
                  </div>
                   <div class="card" >
                       <a href="{{ url_for('blog.beverage',_anchor='cd') }}"><img class="card-img-top" src="{{url_for('static', filename='images/cd.jpeg')}}" alt="curious drop dream beer can image"></a>
                  </div>
                 <div class="card" >
                     <a href="{{ url_for('blog.beverage',_anchor='dd') }}"><img class="card-img-top" src="{{url_for('static', filename='images/dd.jpeg')}}" alt="dark drizzle beer can image "></a><br>
                  </div>
                <div class="card" >
                    <a href="{{ url_for('blog.beverage',_anchor='ec') }}"><img class="card-img-top" src="{{url_for('static', filename='images/ec.jpeg')}}" alt="ecstatic citrus beer can image "></a><br>
                  </div>
            </div>
        <div>
            <section id="ld"></section>
            <p><img class="beer-blurb-r" src="{{url_for('static', filename='images/ld.jpeg')}}" width="410" height="510" alt="lucid dream beer can image "></p>
            </br>
                  <h2 class="m-5 p-5 text-center">Lucid Daydream</h2>
                    <p class="m-3 p-2 text-center">Lucid Daydream is one of the best starter beers out there. It’s a fruity Session IPA that is an incredibly tasty brew and should be considered the gateway beer to the amazing beers from the brewery based in Bluebell in Dublin.
                        This beer is basically a light tropical fruit base with a really crisp finish!!
                    </p>
                    <p class="m-5 p-5 text-center">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </p>
        </div>
    </br><hr>
        <div>
            <section id="mw"></section>
            <p><img class="beer-blurb-l" src="{{url_for('static', filename='images/mw.jpeg')}}" width="410" height="510" alt="murk wisp beer can image"></p>
            </br>
                  <h2 class="m-5 p-5 text-center">Murk Wisp</h2>
                    <p class="m-3 p-2 text-center">Also referred to as Cascadian Dark, these IPAs are as dark as porters and stouts without most of the heavy, roasty flavors. They are hopped as aggressively as regular IPAs, giving them a bitter taste with citrusy and herbaceous notes, and they have the same alcohol content as regular IPAs (6 to 7.5%).
                    </p>
                    <p class="m-5 p-5 text-center">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class=" empty" >&nbsp;&nbsp;&nbsp;☆</span><br>
                    </p>
        </div>
    </br><hr>
       <div>
           <section id="eh"></section>
            <p><img class="beer-blurb-r" src="{{url_for('static', filename='images/eh.jpeg')}}" width="410" height="510" alt="enchanted hallucinations beer can image"></p>
            </br>
                  <h2 class="m-5 p-5 text-center">Enchanted Hallucination</h2>
                    <p class="m-3 p-2 text-center">A session beer can be any type of craft beer: Breweries brew session IPAs, pale ales and ambers. It just has to have less than 5% alcohol by volume, which makes it easy to drink, light and refreshing. If you’re planning to drink all day, you should probably reach for a session beer!
                    </p>
                    <p class="m-5 p-5 text-center">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-full"></span>
        </div>
    </br><hr>
       <div>
           <section id="df"></section>
            <p><img class="beer-blurb-l" src="{{url_for('static', filename='images/df.jpeg')}}" width="410" height="510" alt="double foggy beer can image"></p>
            </br>
                  <h2 class="m-5 p-5 text-center">Double Foggy</h2>
                    <p class="m-3 p-2 text-center">This unique beer uses lager yeasts but is fermented at warmer, ale temperatures. Like its lager cousins, it’s light in color but with a fruitier flavor and a dryer finish. Kolsch beers are as refreshing as lagers, but their spicy, herbal hop presence and full mouthfeel make them as satisfying as ales.
                    </p>
                    <p class="m-5 p-5 text-center">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </p>
        </div>
    </br><hr>
       <div>
           <section id="mdh"></section>
            <p><img class="beer-blurb-r" src="{{url_for('static', filename='images/mdh.jpeg')}}" width="410" height="510" alt="mosaic dry hopped beer can image"></p>
            </br>
                  <h2 class="m-5 p-5 text-center">Mosaic Dry Hopped</h2>
                    <p class="m-3 p-2 text-center">Unlike other straw-colored lagers, German pilsners have a notable sweetness from the malts used during the brewing process. They can contain a slight hop bitterness, which balances out the sweet flavors to finish crisp and refreshing. They are usually less than 5% alcohol by volume.
                    </p>
                    <p class="m-5 p-5 text-center">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-full"></span>
                        <span class=" empty" >&nbsp;&nbsp;&nbsp;☆</span><br>
                    </p>
        </div>
    </br><hr>
       <div>
           <section id="cd"></section>
            <p><img class="beer-blurb-l" src="{{url_for('static', filename='images/cd.jpeg')}}" width="410" height="510" alt="curious drop dream beer can image"></p>
            </br>
                  <h2 class="m-5 p-5 text-center">Curious Drop</h2>
                    <p class="m-3 p-2 text-center">Red Ale has been brewed in Ireland since the 14th century, so you can’t have a list of Irish craft beer and not have a Red Ale on it.
                        This ale is brewed by the wonderful folks over at River Rye Brewery, exclusively for Tesco. It’s available at a very reasonable price and comes packed full of flavour.
                        A proper hearty beer with rich caramel and biscuit tastes, it’s the perfect beer for cold winter evenings.
                    </p>
                    <p class="m-5 p-5 text-center">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-full"></span>
                    </p>
        </div>
    </br><hr>
       <div>
           <section id="dd"></section>
            <p><img class="beer-blurb-r" src="{{url_for('static', filename='images/dd.jpeg')}}" width="410" height="510" alt="dark  drizzel dream beer can image"></p>
            </br>
                  <h2 class="m-5 p-5 text-center">Dark Drizzle</h2>
                    <p class="m-3 p-2 text-center">Could there be a more aptly named beer for the times we are now living in? Shop Local is a brewery collaboration of two well-known craft beer pubs, 57 The Headline and Brickyard. One of my all-time favourite beers, it’s flavoured with mango, pineapple and orange rind.
                    </p>
                    <p class="m-5 p-5 text-center">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </p>
        </div>
    </br><hr>
           <div>
               <section id="ec"></section>
                <p><img class="beer-blurb-l" src="{{url_for('static', filename='images/ec.jpeg')}}" width="410" height="510" alt="ecstatic citrus dream beer can image"></p>
                </br>
                      <h2 class="m-5 p-5 text-center">Ecstatic Citrus</h2>
                        <p class="m-3 p-2 text-center">Ecstatic Citrus is a fruity bomb filled with grapefruit and citrus fruit flavours, it’s one of the core range from the Wexford brewery and is always a hit with people who like something a little bit sweet and a whole lot tasty.
                        </p>
                        <p class="m-5 p-5 text-center">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class=" empty" >&nbsp;&nbsp;&nbsp;☆</span><br>

                        </p>
           </div>
        </br><hr></br></br>
      {% if g.user %}
    <div class="text-center">
        <a class="w3-button w3-green btn-lg action" href="{{ url_for('blog.create') }}">Add Beer Review &#8595;</a></div></br>
      {% else %}
        <div class="text-center"><a class="w3-button w3-green btn-lg action" href="{{ url_for('auth.login') }}" role="button">Login to leave a beer review here &#8595; </a></div></br>
      {% endif %}
    {% endblock %}

    {% block content %}
      {% for post in posts %}
        <article class="post">
          <header class="m-3 p-2 text-center">
            <div>
              <h3>{{ post['title'] }}</h3><br>
              <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
            </div><br>
            {% if g.user['id'] == post['author_id'] %}
              <a class="btn btn-secondary action" href="{{ url_for('blog.update', id=post['id']) }}">Edit Your Review</a>
            {% endif %}
          </header>
          <p class="m-3 p-2  body">{{ post['body'] }}</p>
        </article>
        {% if not loop.last %}
          <hr>
    </body>
</html>
    {% endif %}
  {% endfor %}
{% endblock %}


