{% extends 'base.html' %}

{% block header %}
  </br>
  <h1 class="text-center">{% block title %}New Review{% endblock %}</h1>
{% endblock %}
{% block content %}
</br>
  <form class="text-center" method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}