{% extends 'base.html' %}

{% block header %}
  </br>
  <h1 class="text-center">{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}
{% block content %}
</br>
<form class="text-center" method="post">
 <div class="dropdown">
      <span class="input-group-addon">
        <label  for="title">Choose beer:</label>
        <select name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>
           <option selected="selected" value="Double Foggy">Double Foggy</option>
           <option value="Lucid Daydream">Lucid Daydream</option>
           <option value="Murk Wisp">Murk Wisp</option>
           <option value="Enchanted Hallucination">Enchanted Hallucination</option>
           <option value="Mosaic Dry Hopped">Mosaic Dry Hopped</option>
           <option value="Curious Drop">Curious Drop</option>
           <option value="Dark Drizzle">Dark Drizzle</option>
           <option value="Ecstatic Citrus">Ecstatic Citrus</option>
        </select>
      </span>
    </br></br>
    <label for="body">Review of the beer:</label>
    <textarea name="body" id="body"> {{ request.form['body'] or post['body'] }}</textarea>
    </br></br>
 </div>
    <input class="btn btn-secondary"  type="submit" value="Save">
</form>
    </br></br>
  <form class="text-center" action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
<hr>
{% endblock %}
