{% extends 'base.html' %}
{% block header %}
  </br>
  <h1 class="text-center">{% block title %} Contact Us {% endblock %}</h1><hr>
{% endblock %}
{% block content %}
</br>
<!--Section: Contact v.2-->
<section class="mb-4">
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>
        <!--Grid column-->
        <div class="text-center">
                    <p>Limerick MUN 94126, IRL</p>

                    <p>+ 0353 234 567 89</p>

                    <p>contact@beerwithme.com</p>
        </div>
        <!--Grid column-->
    </div>
</section>
<!--Section: Contact v.2-->
{% endblock %}