{% extends 'base.html' %}
{% block header %}
  </br>
<div
    class="p-5 text-center bg-image"
    style="
      background-image: url({{ url_for('static', filename='images/temp.jpeg') }});
      width: 100%;
      height: 400px;
      margin-top: 5px;
      background-size: cover;
    ">
    <div>
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3" id="homepage-bg">About Beer With Me</h1></br></br></br></br></br>
          <a class="btn btn-light" href="{{ url_for('auth.register') }}" role="button">Register</a>
          <a class="btn btn-light" href="{{ url_for('auth.login') }}" role="button">Login</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>



{% endblock %}
{% block content %}

<div class="m-5 p-2" style="font-size: 22px">
  <p>The Beer With Me application started in a small two bedroomed apartment in Limerick.
    Life was too short to drink mediocre beer. This application highlights the best of beer!
    There is a rich brewing history in Ireland it's engrained in us. It is our job to spread the word were pub hubs are.</p>
  <p>We offer comprehensive information on pubs in Limerick. Find the best venues, deals and events wherever you are, whenever you want. Search for venues by name or just browse for pubs close by on the interactive map. Looking for something to do?
    Beer With Me provides quick access to pub content including food and drink specials, happy hours, special events, trivia & poker nights.</p></br></br>
    <h1 class="text-center">Who We Are</h1><hr>
  </br>
  <p>Our vision is to provide our users with the most comprehensive and useful pub application.
    We strive to connect pubs with their customers by creating new and easy to use communication channels.
    We believe that pubs play an important role within local communities; a meeting place where social networks are strengthened and extended, as well as hosting a wide variety of community oriented events and activities that add considerably to local civic life.</p>
</div>
{% endblock %}